

<div style="margin-bottom: 20px;">
    
            <mat-card class="example-card" *ngFor="let hotel of hotels">
                <mat-card-header>
                  <mat-card-title>{{hotel.hotelName}}</mat-card-title>
                  <mat-card-subtitle>{{hotel.address}}
                    <br>
                    +94{{hotel.contactNo}}
                  </mat-card-subtitle>
                  <img mat-card-lg-image class="mat-image" src="../../assets/images/hotelPic.webp">
                </mat-card-header>
                
                <mat-card-content>

                </mat-card-content>
               
              </mat-card>

    
</div>