

<div >
    
    <mat-grid-list cols="2"  [gutterSize]="'1px'" >
        <mat-grid-tile *ngFor="let hotel of hotels">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>{{hotel.hotelName}}</mat-card-title>
                  <mat-card-subtitle>{{hotel.address}}
                    <br>
                    +94{{hotel.contactNo}}
                  </mat-card-subtitle>
                  <img mat-card-lg-image class="mat-image" src="../../assets/images/hotelPic.webp">
                </mat-card-header>
                
                <mat-card-content>

                </mat-card-content>
               
              </mat-card>
        </mat-grid-tile>
        
      </mat-grid-list>
    
</div>