<h1 mat-dialog-title>Add Hotel Form </h1>
<div mat-dialog-content>
    <form [formGroup]="addHotelForm" (ngSubmit)="addHotel()">
        <div style="height: 100;">
            Please fill the form!
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Hotel name</mat-label>
                <input matInput formControlName="hotelName" placeholder="Hotel Name">
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="address" placeholder="Address"></textarea>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input matInput type="number" formControlName="contactNo" placeholder="+94 12 345 6789">
              </mat-form-field>
        </div>
        
        <div mat-dialog-actions [align]="'end'">
            <button mat-raised-button color="warn" mat-dialog-close>Close</button>
            <button type="submit" mat-raised-button color="primary" aria-label="add" >
                Add Hotel
            </button>
        </div>
        
    </form>
</div>
