<div class="drawer">
    <div class="sun_travel">
        <h1 >Sun Travels</h1>
    </div>
    <mat-card class="example-card">
        <mat-card-content>
            <form [formGroup] = "searchForm" (ngSubmit)="onSubmit()">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Enter date range</mat-label>
                        <mat-date-range-input [formGroup]="searchForm" [rangePicker]="picker">
                          <input matStartDate formControlName="checkInDate" placeholder="Check-in date" required>
                          <input matEndDate formControlName="checkOutDate" placeholder="Check-out date" required>
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      
                        <mat-error *ngIf="searchForm.controls.checkInDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="searchForm.controls.checkOutDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                      </mat-form-field>
                </div>
                <span *ngIf="roomList">
                    <ul>
                        <li *ngFor="let room of roomList">
                            {{room.rooms}} rooms with {{room.adults}} adults
                        </li>
                    </ul>
                </span>
                <div>
                    <form [formGroup]="addRoomForm" (ngSubmit)="onRoomAdd()">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>No of Rooms</mat-label>
                                <input matInput type="number" min="1" id="no_of_rooms" formControlName="no_of_rooms" required>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>No of Adults</mat-label>
                                <input matInput type="number" min="1" id="no_of_adults" formControlName="no_of_adults" required>
                            </mat-form-field>
                        </div>
                        <button type="submit" mat-icon-button matTooltip="Accent" color="accent" aria-label="add" >
                            <mat-icon>add</mat-icon>
                          </button>
                    </form>
                </div>
                <button type="submit" mat-button>Search</button>
            </form>
        </mat-card-content>
    </mat-card>
    <div class="searchform">
        
    </div>
</div>
