.drawer{
    height: 40%;
    width: 100%;
    background-color: rgba(0, 119, 255, 0.543);
}

.sun_travel{
    color: rgba(255, 255, 255, 0.95);
    font-size: 50;
}

.searchform{
    background-color: aliceblue;
    align-self: center;
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
    padding:10;
    align-self: center;
}

.example-card{
    background-color: aliceblue;
    align-content: center;
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
    padding:10;
    align-self: center;
}

mat-form-field{
    width: 100%;
}