.drawer{
    /* height: 40%; */
    width: 100%;
    /* background-color: rgba(23, 247, 57, 0.543); */
    padding: 10px;
}

.searchform{
    background-color: aliceblue;
    align-self: center;
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
    padding:10;
    align-self: center;
}

.example-card{
    /* background-color: rgb(231, 251, 237); */
    align-content: center;
    width: 40%;
    margin-left: 30%;
    border-radius: 10px;
    padding:10;
    align-self: center;
}

mat-form-field{
    width: 30%;
}

.result-card {
    max-width: 800px;
    margin-bottom: 8px;
  }

.mat-card-image{
    width: 400px;
    height: auto;
}

mat-chip-listbox{
    width: 20%;
    
}

mat-chip-option{
    
}

.footer{
    background-color: rgb(4, 169, 26);
    text-align: center;
    /* position: ; */
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    height: 30px;
    padding: 5px;
    font-size: 20px;
  }

